[tool.poetry]
name = "pybotx"
version = "0.74.0"
description = "A python library for interacting with eXpress BotX API"
authors = [
    "Sidnev Nikolay <nsidnev@ccsteam.ru>",
    "Maxim Gorbachev <mgorbachev@ccsteam.ru>",
    "Alexander Samoylenko <alexandr.samojlenko@ccsteam.ru>",
    "Arseniy Zhiltsov <arseniy.zhiltsov@ccsteam.ru>"
]
readme = "README.md"
repository = "https://github.com/ExpressApp/pybotx"


[tool.poetry.dependencies]
python = ">=3.8,<3.13"

aiofiles = ">=0.7.0,<24.0.0"
httpx = "^0.25.0"
# The v1.0.3 cause some troubles with no-wait callbacks functionality.
# It will be fixed in the next versions.
# https://github.com/encode/httpcore/pull/880
httpcore = "1.0.9"
loguru = ">=0.6.0,<0.7.0"
pydantic = ">=1.6.0,<1.11.0"
aiocsv = ">=1.2.3,<1.3.0"
pyjwt = ">=2.0.0,<3.0.0"
mypy-extensions = ">=0.2.0,<0.5.0"

[tool.poetry.group.dev.dependencies]
add-trailing-comma = "2.2.1"
autoflake = "1.7.8"
black = "22.3.0"
isort = "5.10.1"
mypy = "0.910.0"
typing-extensions = ">=3.7.4,<5.0.0"
wemake-python-styleguide = "0.16.0"
bandit = "1.7.2"  # https://github.com/PyCQA/bandit/issues/837

pytest = "7.2.0"
pytest-asyncio = "0.16.0"
pytest-cov = "4.0.0"
requests = "2.31.0"
respx = "0.20.2"

fastapi = "0.95.2"
starlette = "0.27.0"  # TODO: Drop dependency after updating end-to-end test
uvicorn = "0.16.0"
factory-boy = "3.3.1"
deepdiff = "^8.4.2"
orderly-set = "5.3.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
