[tool.poetry]
name = "pybotx"
version = "0.42.1"
description = "A python library for interacting with eXpress BotX API"
authors = [
    "Sidnev Nikolay <nsidnev@ccsteam.ru>",
    "Maxim Gorbachev <mgorbachev@ccsteam.ru>",
    "Alexander Samoylenko <alexandr.samojlenko@ccsteam.ru>",
    "Arseniy Zhiltsov <arseniy.zhiltsov@ccsteam.ru>"
]
readme = "README.md"
documentation = "https://expressapp.github.io/pybotx"
repository = "https://github.com/ExpressApp/pybotx"


[tool.poetry.dependencies]
python = ">=3.8,<3.11"

aiofiles = ">=0.7.0,<0.9.0"
httpx = ">=0.18.0,<0.22.0"
loguru = ">=0.6.0,<0.7.0"
mypy-extensions = ">=0.2.0,<0.5.0"
pydantic = ">=1.6.0,<1.10.0"
typing-extensions = ">=3.7.4,<5.0.0"


[tool.poetry.dev-dependencies]
add-trailing-comma = "2.2.1"
autoflake = "1.4.0"
black = "22.3.0"
isort = "5.10.1"
mypy = "0.910.0"
wemake-python-styleguide = "0.16.0"
bandit = "1.7.2"  # https://github.com/PyCQA/bandit/issues/837

pytest = "6.2.5"
pytest-asyncio = "0.16.0"
pytest-cov = "3.0.0"
requests = "2.26.0"
respx = "0.19.0"

fastapi = "0.73.0"
starlette = "0.17.1"  # TODO: Drop dependency after updating end-to-end test
uvicorn = "0.16.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
